.card-title {
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
}

.team-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* border-radius: 50%; */
  transition: transform 0.3s ease-in-out !important;
}

.team-photo:hover {
  transform: scale(1.5) !important;
}

